/* Make the body a flex container that centers content */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfbcbc;
}

/* Container for iframe */
.embed-container {
  width: 70vw;
  height: 60vh;
  border: 4px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Embedded iframe takes full container size */
iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: none;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
